<div class="page-header">
  <h1>Realizar Saque</h1>
</div>

<%= simple_form_for @transaction,
  :url => transactions_withdraw_path,
  :method => :post, action: :create  do |f| %>

  <%= f.error_notification %>

  <%= f.input :ammount, label: 'Valor', as: 'string' %>
  <%= f.input :account, label: 'Conta', hint: 'Número da conta que irá depositar'  %>
  <%= f.input :password, label: 'Senha da conta' %>

  <%= f.button :submit, "Sacar", :class => 'btn btn-primary btn-lg btn-block' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn btn-default btn-block' %>
<% end %>
